@use "colors";

footer {
  height: 60px;
  color: colors.$soft-blue;
  font-weight: 300;

  p {
    font-size: 0.75rem;
    a {
      font-size: 0.75rem;
      color: colors.$white;

      &:hover {
        color: colors.$cyan;
      }
    }
  }
}
